/*  BACKGROUND  */
body{
    font-family: Arial;
    margin: 20px;
    background: linear-gradient(135deg, 
        #ff9a9e, 
        #fad0c4, 
        #fbc2eb, 
        #a1c4fd, 
        #c2e9fb
    );
    background-size: 300% 300%;
    color: #ffffff;
}


/* ARTICLE HEADING  */
h2{
    background: linear-gradient(135deg, #ff6a88, #ffb347);
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
    color: #121212;
}


/* STATS BOX  */
.stats-box{
    width: 260px;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #a1ffce, #faffd1); 
    color: rgb(0, 40, 60);
    box-shadow: 0px 0px 13px rgba(0,0,0,0.4);
    font-weight: bold;
}


/* COMMENT FORM  */
.comment-form{
    width: 380px;
    padding: 20px;
    border-radius: 14px;
    background: rgb(151, 235, 151);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    color: #000000;
    margin-bottom: 30px;
}


/* INPUT & TEXTAREA */
input, textarea{
    width: 95%;
    padding: 9px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #bbbbbb;
    background: #ffffff;
    color: #000000;
}


/* BUTTON */
button{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    background: rgb(11, 11, 11);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.6);
}

button:hover{
    opacity: 0.92;
}


/* ERROR MESSAGE */
.error{
    color: #ff0033;
    font-size: 13px;
}


/* STAR RATING */
.stars .star{
    font-size: 32px;
    cursor: pointer;
    color: #141414;
}

.stars .selected{
    color: #ffd700;
    text-shadow: 0px 0px 12px #ffd700;
}


/* COMMENT CARD  */
.comment-item{
    padding: 14px;
    border-radius: 14px;
    margin-top: 12px;
    color: #000000;
    background: linear-gradient(135deg, #f6d365, #fda085, #ff9a9e);
    box-shadow: 0px 0px 14px rgba(0,0,0,0.6);
}
